{{#if resume.certificates.length}}
<section id="certificates" class="certificates">
  {{#each resume.certificates}}
  <div class="item">
    {{#if @first}}
    <h2>Certificates</h2>
    {{/if}}
    <header>
      {{#if url}}
      <a href="{{url}}" class="name">{{name}}</a>
      {{else}}
      <div class="name">{{name}}</div>
      {{/if}}
      {{#if date}}
      <small class="date">{{date date}}</small>
      {{/if}}
    </header>
    {{#if issuer}}
    <div class="issuer"><i>{{issuer}}</i></div>
    {{/if}}
    {{#if summary}}
    <div class="summary"><span>{{summary}}</span></div>
    {{/if}}
  </div>
  {{/each}}
</section>
{{/if}}
